/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 28, ../sass/blocks.scss */
#header .block {
  /* No bottom margin for blocks in header */
  margin-bottom: 0;
}

/* line 33, ../sass/blocks.scss */
.region-front .block {
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-bottom: 4px dotted #AC2E32;
}
/* line 39, ../sass/blocks.scss */
.region-front .block ul.pager {
  padding: 0;
  margin: 0;
}

/* line 46, ../sass/blocks.scss */
#block-cm-starterkit-easy-cm-theme-logo {
  width: auto;
  max-width: 50%;
  padding: 0.5em 2em;
  float: left;
  z-index: 100;
}
/* line 53, ../sass/blocks.scss */
#block-cm-starterkit-easy-cm-theme-logo img {
  max-width: 20em;
}

/* line 59, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 62, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 65, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 68, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 71, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 74, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 77, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 80, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 83, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 86, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 89, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 92, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 95, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 98, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 101, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 104, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 107, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 110, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
  margin-bottom: 0;
}

/* line 114, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 117, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 120, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 123, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 126, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 129, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 132, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 135, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 138, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
