/**
 * @file
 * CiviCRM styling
 *
 * Adds styles for CiviCRM.
 *
 */

article.node-civicrm-multiday-event .civicrm-multiday-event-register-button {
  background: none repeat scroll 0 0 #666666;
  color: #EEEEEE;
  text-indent: 0;
  text-decoration: none;
  text-align: center;
  font-size: 100%;
  color: #FFFFFF;
}

article.node-civicrm-multiday-event .civicrm-multiday-event-register-button:hover {
  color:#666666;
  background-color: #EEEEEE;
}

/* Styles for credit card payment logos */
.crm-container .credit_card_type-section .crm-credit_card_type-icons a {
  display: block;
  float: left;
  width: 50px;
  height: 30px;
  background: url(../images/creditcard-icons.png) no-repeat 0 0 transparent;
  text-indent: -20000px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 1px solid #FFFFFF;
}
