/**
 * @file
 * Colors
 */
/* _normalize.scss */
/* line 9, ../sass/colors.scss */
a:link, a:visited {
  color: #6d6e71;
}

/* line 13, ../sass/colors.scss */
blockquote {
  background: #e6e7e8;
  border-left-color: #ac2e32;
}
/* line 17, ../sass/colors.scss */
blockquote:before {
  color: #ac2e32;
}

/* line 25, ../sass/colors.scss */
#content .node ul li:before {
  color: #cc0001;
}

/* line 36, ../sass/colors.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #e6e7e8;
}

/* pages.scss */
/* line 44, ../sass/colors.scss */
body {
  background-color: #cccccc;
}

/* line 48, ../sass/colors.scss */
#header {
  border-bottom-color: #ac2e32;
  background: #fdfdfd;
}

/* line 53, ../sass/colors.scss */
.region-navigation {
  background: #fcfcfc;
}

/* line 57, ../sass/colors.scss */
.region-branding {
  border-top-color: #ac2e32;
  background: #fbfbfb;
}

/* line 62, ../sass/colors.scss */
.region-header {
  border-top-color: #ac2e32;
}

/* line 66, ../sass/colors.scss */
.region-subheader {
  border-bottom-color: #ac2e32;
}

/* line 70, ../sass/colors.scss */
.breadcrumb {
  border-bottom-color: #ac2e32;
}
/* line 74, ../sass/colors.scss */
.breadcrumb li span {
  color: #cc0001;
}

/* line 80, ../sass/colors.scss */
.more-arrows, a .more-arrows {
  color: #ac2e32;
}

/* line 84, ../sass/colors.scss */
.region-sidebar-first, .region-sidebar-second {
  border-color: #ac2e32;
}

/* line 89, ../sass/colors.scss */
#footer {
  border-color: #ac2e32;
  background: #312f30;
  color: #bcbec0;
}
/* line 94, ../sass/colors.scss */
#footer a {
  color: #bcbec0;
}
/* line 98, ../sass/colors.scss */
#footer h2 {
  color: #fff;
}
/* line 101, ../sass/colors.scss */
#footer .form-item label {
  color: #bcbec0;
}

/* navigation.scss */
/* line 113, ../sass/colors.scss */
.sidebar ul li a:hover {
  background: #e4aeae;
  color: #fefefe;
}
/* line 117, ../sass/colors.scss */
.sidebar ul li a.active-trail {
  background: #e4aeae;
  color: #fefefe;
}
/* line 121, ../sass/colors.scss */
.sidebar ul li a.active {
  background-color: #ac2e32;
  color: #e6e7e8;
}

/* line 132, ../sass/colors.scss */
#block-cm-starterkit-easy-cm-theme-mobile-menu .toggle-wrapper li, .mobile-menu-links .toggle-wrapper li {
  border-left-color: #ac2e32;
}

/* line 142, ../sass/colors.scss */
#block-system-main-menu nav > ul li.expanded.hover > a {
  background: #e4aeae;
  color: #fefefe;
}
/* line 151, ../sass/colors.scss */
#block-system-main-menu nav > ul ul li a {
  border-left-color: #ac2e32;
  border-right-color: #ac2e32;
}
/* line 157, ../sass/colors.scss */
#block-system-main-menu nav > ul ul li.last a {
  border-bottom-color: #ac2e32;
}
/* line 166, ../sass/colors.scss */
#block-system-main-menu nav ul.menu li .more {
  color: #6d6e71;
}
/* line 170, ../sass/colors.scss */
#block-system-main-menu nav ul.menu li.active-trail .more {
  color: #ffffff;
}
/* line 175, ../sass/colors.scss */
#block-system-main-menu nav ul.menu li a.active-trail {
  background: #e4aeae;
  color: #fefefe;
}
/* line 179, ../sass/colors.scss */
#block-system-main-menu nav ul.menu li a:hover {
  background: #e4aeae;
  color: #fefefe;
}
/* line 183, ../sass/colors.scss */
#block-system-main-menu nav ul.menu li a.active {
  background: #ac2e32;
  color: #e6e7e8;
}
/* line 190, ../sass/colors.scss */
#block-system-main-menu nav ul.menu li li a {
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  /* line 198, ../sass/colors.scss */
  #block-system-main-menu #menu > ul li {
    border-top-color: #cccccc;
  }
  /* line 204, ../sass/colors.scss */
  #block-system-main-menu ul.menu li.active-trail .more {
    color: #ffffff;
  }
}

/* line 213, ../sass/colors.scss */
.channel-icons-schedule {
  border-bottom-color: #cccccc;
}
@media screen and (min-width: 48.25em) {
  /* line 213, ../sass/colors.scss */
  .channel-icons-schedule {
    border-left-color: #cccccc;
  }
}
/* line 219, ../sass/colors.scss */
.channel-icons-schedule a {
  color: #bcbcbc;
}

/* views-styles.scss */
/* line 226, ../sass/colors.scss */
.news-article {
  border-bottom-color: #ac2e32;
}
/* line 229, ../sass/colors.scss */
.news-article a {
  color: #000000;
}
/* line 232, ../sass/colors.scss */
.news-article a:hover {
  background: #e6e7e9;
}
/* line 236, ../sass/colors.scss */
.news-article a h2 {
  color: #6d6e71;
}
