/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body, html {
  height: 100%;
}

/* line 21, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}

/* line 27, ../sass/pages.scss */
#page {
  box-shadow: 0 0 0.25em 0.25em #888;
  -moz-box-shadow: 0 0 0.25em 0.25em #888;
  -webkit-box-shadow: 0 0 0.25em 0.25em #888;
  margin-top: 0.3em;
  background-color: #fff;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 40, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 43, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 58, ../sass/pages.scss */
#header {
  border-bottom: 4px solid #ac2e32;
  background: #fdfdfd;
}

/* line 68, ../sass/pages.scss */
#branding {
  z-index: 20;
  overflow: hidden;
  position: relative;
  clear: both;
  border-top: 4px solid #ac2e32;
}
/* line 81, ../sass/pages.scss */
#branding .region-branding .logo-block {
  position: absolute;
  top: 0;
  left: 2em;
}
@media screen and (min-width: 48.25em) {
  /* line 81, ../sass/pages.scss */
  #branding .region-branding .logo-block {
    top: 1em;
  }
}
@media screen and (min-width: 60em) {
  /* line 81, ../sass/pages.scss */
  #branding .region-branding .logo-block {
    top: 2em;
  }
}
/* line 92, ../sass/pages.scss */
#branding .region-branding #block-search-form {
  position: absolute;
  right: 2em;
  top: 1em;
  z-index: 10;
}
@media screen and (min-width: 48.25em) {
  /* line 92, ../sass/pages.scss */
  #branding .region-branding #block-search-form {
    top: 2em;
  }
}
@media screen and (min-width: 60em) {
  /* line 92, ../sass/pages.scss */
  #branding .region-branding #block-search-form {
    top: 3em;
  }
}

/* line 109, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
}
/* line 112, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 117, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 121, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 126, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 132, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 138, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 143, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* line 150, ../sass/pages.scss */
.region-subheader {
  /* Wrapper for any blocks placed in the sub-header region */
  clear: both;
  /* Clear the logo */
  position: relative;
  top: -6em;
  z-index: 0;
  background-color: #333132;
  width: 100%;
  overflow: hidden;
  padding: 0.75em 2em;
  border-bottom: 4px solid #ac2e32;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 182, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  border-bottom: 2px dotted #ac2e32;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
}
/* line 187, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 191, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 197, ../sass/pages.scss */
.breadcrumb li span {
  font-size: 0.75em;
  padding: 0 0.75em;
  margin: 0;
  vertical-align: top;
  color: #cc0001;
}

/* line 207, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 216, ../sass/pages.scss */
h1.title {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

/* line 222, ../sass/pages.scss */
table {
  border: 1px solid #ddd;
  line-height: 1.25em;
  font-size: 0.875em;
}

/* line 228, ../sass/pages.scss */
th {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ddd;
  vertical-align: bottom;
}

/* line 235, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  background-color: #ffffff;
  /* Drupal core uses a #eee background */
}

/* line 239, ../sass/pages.scss */
tr.odd {
  background-color: #f9f9f9;
  /* Drupal core uses a #eee background */
}

/* line 243, ../sass/pages.scss */
td {
  border-left: 1px solid #ddd;
  padding: 0.5em;
}

/* line 248, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 251, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 257, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 260, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 265, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 269, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 273, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 277, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 280, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 283, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 286, ../sass/pages.scss */
.region-front {
  /* Wrapper for the actual page content */
}
/* line 289, ../sass/pages.scss */
.region-front .news-articles-list {
  padding: 0;
  list-style: none;
}
/* line 293, ../sass/pages.scss */
.region-front .news-articles-list li {
  float: left;
  width: 26.3333%;
  margin-right: 7%;
}

/* line 301, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 304, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 308, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 314, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 318, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 321, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 326, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 329, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/* line 332, ../sass/pages.scss */
.more-arrows, a .more-arrows {
  color: #ac2e32;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 343, ../sass/pages.scss */
.region-sidebar-first {
  border-right: 2px dotted #ac2e32;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* line 354, ../sass/pages.scss */
.region-sidebar-second {
  border-left: 2px dotted #ac2e32;
}

/*
 * Footer
 */
/* line 362, ../sass/pages.scss */
#footer {
  border-top: 4px solid #ac2e32;
  border-bottom: 4px solid #ac2e32;
  background: #312f30;
  color: #bcbec0;
  overflow: hidden;
  font-size: 85%;
  line-height: 1.5em;
}
/* line 371, ../sass/pages.scss */
#footer a {
  color: #bcbec0;
}
/* line 375, ../sass/pages.scss */
#footer h2 {
  color: #fff;
}
/* line 378, ../sass/pages.scss */
#footer .form-item label {
  color: #bcbec0;
}
/* line 381, ../sass/pages.scss */
#footer .footer-column-1 {
  float: left;
  width: 49%;
  padding-right: 2%;
}
@media screen and (min-width: 48.25em) {
  /* line 381, ../sass/pages.scss */
  #footer .footer-column-1 {
    width: 25%;
  }
}
/* line 391, ../sass/pages.scss */
#footer .footer-column-2 {
  float: left;
  width: 49%;
  padding-right: 2%;
}
@media screen and (min-width: 48.25em) {
  /* line 391, ../sass/pages.scss */
  #footer .footer-column-2 {
    width: 25%;
  }
}
/* line 400, ../sass/pages.scss */
#footer .footer-column-3 {
  float: left;
  width: 49%;
  padding-right: 2%;
  clear: both;
}
@media screen and (min-width: 48.25em) {
  /* line 400, ../sass/pages.scss */
  #footer .footer-column-3 {
    width: 20%;
    clear: none;
  }
}
/* line 411, ../sass/pages.scss */
#footer .footer-column-4 {
  float: left;
  width: 49%;
}
@media screen and (min-width: 48.25em) {
  /* line 411, ../sass/pages.scss */
  #footer .footer-column-4 {
    width: 30%;
  }
}
/* line 419, ../sass/pages.scss */
#footer .footer-map {
  margin-top: 3em;
}

/*
 * Page bottom
 */
/* line 429, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  font-size: 75%;
}

/*
 * Make block elements with the inline-block class inline-blocks
 */
/* line 438, ../sass/pages.scss */
.inline-block {
  display: inline-block;
}
