/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
/* line 23, ../sass/tabs.scss */
ul.primary,
ul.secondary {
  overflow: hidden;
  *zoom: 1;
  font-size: 0.875em;
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0;
  white-space: nowrap;
}
/* line 33, ../sass/tabs.scss */
ul.primary li,
ul.secondary li {
  float: left;
  /* LTR */
  margin: 0;
}
/* line 38, ../sass/tabs.scss */
ul.primary a,
ul.secondary a {
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/*
 * Primary tabs
 */
/* line 50, ../sass/tabs.scss */
ul.primary li {
  border-right: 1px solid #bbb;
  margin: 0.5em 0 0 0;
  /* LTR */
}
/* line 58, ../sass/tabs.scss */
ul.primary a:link,
ul.primary a:visited {
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 0.5em;
  text-align: center;
}
/* line 67, ../sass/tabs.scss */
ul.primary a:hover,
ul.primary a:focus {
  background-color: #e9e9e9;
}
/* line 71, ../sass/tabs.scss */
ul.primary a.active {
  background: #666666;
  color: #eeeeee;
}

/*
 * Secondary tabs
 */
/* line 81, ../sass/tabs.scss */
ul.secondary {
  font-size: .9em;
  margin-top: -1.5em;
  /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;
}
/* line 86, ../sass/tabs.scss */
ul.secondary a:link,
ul.secondary a:visited {
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  border-radius: 0.75em;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 0 #fff;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
/* line 95, ../sass/tabs.scss */
ul.secondary a:hover,
ul.secondary a:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
/* line 101, ../sass/tabs.scss */
ul.secondary a.active,
ul.secondary a:active {
  text-shadow: 1px 1px 0 #333;
  background-color: #666;
  border-color: #000;
  color: #fff;
}
