/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 28em;
  height: 2.5em;
  margin: 0;
  border-bottom: 1px solid #E3E3E3;
}

#color_scheme_form #palette .form-item label {
  width: 18em;
  line-height: 1.5em;
  font-weight: normal;
}

#color_scheme_form #palette .lock {
  top: -1.8em;
}

#color_scheme_form h2 {
  margin-top: 1em;
}

/* ---------- Preview Styles ----------- */

html.js #preview {
  clear: both;
  float: none !important;
}

/* Overall */
#preview {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 93.8%;
  color: #333333;
  margin: 10px 0 50px 0;
  padding: 3px 0 10px 0;
  width: 100%;
  background-color: #cccccc;
}

#preview-page {
  padding: 0;
  margin-right: 40px;
  margin-left: 40px;
  background: #fff;
  position: relative;
  color: #333;
        box-shadow: 0 0 0.25em 0.25em #888;
   -moz-box-shadow: 0 0 0.25em 0.25em #888;
-webkit-box-shadow: 0 0 0.25em 0.25em #888;
  margin-top: 0.3em;
}

/* Header */

#preview #header {
  border-bottom: 4px solid #ac2e32;
  background: #fdfdfd;
  overflow: hidden;
}

#preview .region-navigation {
  position: relative;
  z-index: 500;
}

#preview #block-cm-starterkit-easy-cm-theme-logo {
  width: auto;
  max-width: 50%;
  padding: 0.5em 2em;
  float: left;
  z-index: 100;
}

#preview a {
  color: #6d6e71;
  text-decoration: none;
}


#preview #block-cm-starterkit-easy-cm-theme-logo img {
  max-width: 20em;
}

#preview #header .block {
  margin-bottom: 0;
}

#preview #logo {
  background-image: url('../logo.png');
  min-height: 50px;
  min-width: 180px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
}

/* Main menu */
#preview #block-system-main-menu {
  padding-left: 2em;
}

#preview #block-system-main-menu {
  padding: 0.8em 0 0.4em 0;
}

#preview #block-system-main-menu {
  margin-bottom: 1em;
  overflow: visible;
  z-index: 99;
  display: block;
  font-size: 0.938em;
}

#preview #block-system-main-menu nav ul.menu {
  list-style: none;
}

#preview ul.menu {
  margin: 0;
  padding: 0;
  text-align: left;
}

#preview #block-system-main-menu nav ul.menu li {
  position: relative;
}

#preview #block-system-main-menu nav > ul > li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

#preview ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#preview #block-system-main-menu nav ul.menu a {
  padding: 0.75em 1em;
  text-decoration: none;
}

#preview #block-system-main-menu nav > ul > li > a {
  display: block;
  border-radius: 0.5em;
}

#preview #block-system-main-menu nav ul.menu li a.active {
  background: #ac2e32;
  color: #e6e7e8;
}

#preview #block-system-main-menu nav ul.menu li a:hover {
  background: #e4aeae;
  color: #fefefe;
}

/* Main content */
#preview #main {
  padding-top: 1em;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
  clear: both;
}

#preview #main, #preview #footer {
  padding-left: 2em;
  padding-right: 2em;
}

#preview #content ul {
  padding: 0;
  list-style: none;
}

#preview #content ul li {
  padding-left: 2em;
  text-indent: -1em;
}

#preview #content ul li:before {
  content: "•";
  color: #cc0001;
  padding-right: 0.5em;
}


#preview #footer {
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  border-top: 4px solid #ac2e32;
  border-bottom: 4px solid #ac2e32;
  background: #312f30;
  color: #bcbec0;
  overflow: hidden;
  font-size: 85%;
  line-height: 1.5em;
}

#preview #footer a {
  color: #bcbec0;
}

#preview p {
  margin: 0 0 1.5em 0;
}

/* Overriding display: none in the Seven theme */
.overlay #preview #footer {
  display: block;
}