<div id="preview">

  <div id="preview-page">
    <header id="header">
      <div class="region-navigation">

        <div id="block-cm-starterkit-easy-cm-theme-logo">
          <a href="#" id="logo">
          </a>
        </div>
        <div id="block-system-main-menu" class="block block-system contextual-links-region block-menu odd" role="navigation">
          <nav id="menu" class="menu" role="navigation">
            <ul class="menu">
              <li class="menu__item is-leaf first leaf"><a href="#" class="menu__link active">Home</a></li>
              <li class="menu__item is-leaf last leaf"><a href="#" class="menu__link">About Us</a></li>
            </ul>  
          </nav>
        </div>
      </div>
    </header>
    <div id="main">
      <div id="content">
        <p>Lorem ipsum</p>
        <p><a href="#">This is a link</a></p>
        <ul>
          <li>This is a bullet list</li>
          <li>With another list item</li>
        </ul>
      </div>
    </div>
    <footer id="footer" class="region region-footer">
      <div id="block-cm-starterkit-easy-cmdrupal-credit" class="block block-cm-starterkit-easy">
        <a href="#">Powered by CMDrupal: Built on Open Source, Sustained by Collaboration.</a>
      </div>
    </footer>
  </div>
</div>