/**
 * @file
 * Block Styling
 */

@import "init";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}

#header .block { /* No bottom margin for blocks in header */
  margin-bottom: 0;
}

.region-navigation, .region-branding {
  @media screen and (min-width: 48.25em) {
    width: 100%;
    display: table;

    .block {
      overflow: visible;
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      &:first-child {
        text-align: left;
        padding-left: 2em;
      }
      &:last-child {
        text-align: right;
        padding-right: 2em;
      }
    }
  }
}

.region-front {
  .block {
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-bottom: 4px dotted #AC2E32;

      ul.pager {
        padding: 0;
        margin: 0;
    }
  }
}

#block-cm-starterkit-easy-cm-theme-logo, #block-cm-starterkit-moderate-cm-theme-logo {
  width: auto;
  max-width: 50%;
  z-index: 100;
    img {
      width: 100%;
      max-width: 20em;
      max-height: 4em;
    }
  @media screen and (max-width: 48.25em) {
    float: left;
    padding: 0.5em 2em;
    max-width: 50%;
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
  margin-bottom: 0;
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
