/**
 * @file
 * RTL companion for the forms.css file.
 */

@import "init";


/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: right;

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  html.js & li.openid-link,
  li.openid-link { /* The "Log in using OpenID" link. */
    margin-left: 0;
    margin-right: -20px; /* Un-do some of the padding on the ul list. */
  }
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: right;
    padding-left: 1em;
    padding-right: 0;
  }
}
