/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "init";


/*
 * Body
 */

 body, html {
    height:100%
}

body {
  margin: 0;
  padding: 0;
}

#page {
  box-shadow: 0 0 0.25em 0.25em #888;
  -moz-box-shadow: 0 0 0.25em 0.25em #888;
  -webkit-box-shadow: 0 0 0.25em 0.25em #888;
  margin-top: 0.3em;
  background-color: #fff;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {

  border-bottom-style: solid;
  border-bottom-width: 4px;

  h2 {

  }
}

/* @TODO: Remove ChannelAustin specific branding code */
#branding-ca {
  z-index: 20;
  position: relative;
  clear: both;
  border-top-style: solid;
  border-top-width: 4px;

  .region-branding {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .block-headerimage  {

    }

    .logo-block {
      position: relative;
      float: left;
      @media screen and (min-width: 48.25em) {
        margin-top: 1em;
      }
      @media screen and (min-width: 60em) {
        margin-top: 2em;
      }
      margin-left: 2em;
    }
    #block-search-form {
    position: relative;
    float: right;
    margin-right: 2em;
    margin-top: 1em;
    z-index: 10;
    @media screen and (min-width: 48.25em) {
      margin-top: 2em;
    }
    @media screen and (min-width: 60em) {
      margin-top: 3em;
    }
    }
  }
}



#logo { /* Wrapping link for logo */


  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 4px;
}

.region-subheader { /* Wrapper for any blocks placed in the sub-header region */
  clear: both; /* Clear the logo */
  position: relative;
  top: -6em;
  z-index: 0;
  background-color: #333132;
  width: 100%;
  overflow: hidden;
  padding: 0.75em 2em;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}


/*
 * Main (container for everything else)
 */

#main {

}


/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  margin-bottom: 1em;
  padding-bottom: 0.3em;

  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;

    span {
      font-size: 0.75em;
      padding: 0 0.75em;
      margin: 0;
      vertical-align: top;
    }
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h1.title {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}


table {
  border: 1px solid #ddd;
  line-height: 1.25em;
  font-size: 0.875em;
}

th {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ddd;
  vertical-align: bottom;
}

tr.even { /* Some tables have rows marked even or odd. */
  background-color: #ffffff; /* Drupal core uses a #eee background */
}

tr.odd {
  background-color: #f9f9f9; /* Drupal core uses a #eee background */
}

td {
  border-left: 1px solid #ddd;
  padding: 0.5em;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-front { /* Wrapper for the actual page content */


  .news-articles-list {
    padding: 0;

    list-style: none;
	li {
	  float: left;
	  width: 26.3333%;
	  margin-right: 7%;
	}
  }
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}


/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
  border-right-width: 2px;
  border-right-style: dotted;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
  border-left-width: 2px;
  border-left-style: dotted;
}

/*
 * Footer
 */

.footer, #footer {
  border-top-width: 4px;
  border-top-style: solid;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  overflow: hidden;
  font-size: 85%;
  line-height: 1.5em;

	a {

	}

  h2 {

  }
  .form-item label {

  }
  .footer-column-1 {
    float: left;
    width: 49%;
    padding-right: 2%;

    @media screen and (min-width: 48.25em) {
      width: 25%;
    }
  }

  .footer-column-2 {
    float: left;
    width: 49%;
    padding-right: 2%;

    @media screen and (min-width: 48.25em) {
      width: 25%;
    }
  }
  .footer-column-3 {
    float: left;
    width: 49%;
    padding-right: 2%;
    clear: both;

    @media screen and (min-width: 48.25em) {
      width: 20%;
      clear: none;
    }
  }
  .footer-column-4 {
    float: left;
    width: 49%;

    @media screen and (min-width: 48.25em) {
      width: 30%;
    }
  }
  .footer-map {
    margin-top: 3em;

  }
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
  font-size: 75%;
}


/*
 * Make block elements with the inline-block class inline-blocks
 */

.inline-block {
    display: inline-block;
}



