/**
 * @file
 * Colors
 */

@import "init";

/* _normalize.scss */
a:link, a:visited {
  color: $link;
}

blockquote {
  background: $active;
  border-left-color: $line;

  &:before {
    color: $line;
  }
}

#content .node {
  ul {
    li {
      &:before {
        color: $bullet;
      }
    }
  }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  &:hover {
    background: $active; //cm_theme override
  }
}



/* pages.scss */
body {
	background-color: $background;
}

#header {
  border-bottom-color: $line;
  background: $almost-white-bg;
}

.region-navigation {
  background: $navigation-bg;
}

.region-branding {
  border-top-color: $line;
  background: $branding-bg;
}

.region-header {
  border-top-color: $line;
}

.region-subheader {
	border-bottom-color: $line;
}

.breadcrumb {
  border-bottom-color: $line;

  li {
  	span {
  		color: $bullet;
  	}
  }
}

.more-arrows, a .more-arrows {
  color: $line;
}

.region-sidebar-first, .region-sidebar-second {
  border-color: $line;
}


#footer {
  border-color: $line;
  background: $dark-background;
  color: $light-text;

	a {
	  color: $light-text;
	}

  h2 {
    color: #fff;
  }
  .form-item label {
    color: $light-text;
  }
}


/* navigation.scss */
.sidebar {

  ul {
    li {
      a {
        &:hover {
          background: $light-link-background;
          color: $almost-white-text;
        }
        &.active-trail {
          background: $light-link-background;
          color: $almost-white-text;
        }
        &.active {
          background-color: $line;
          color: $active;
        }
      }
    }
  }
}

#block-cm-starterkit-easy-cm-theme-mobile-menu, .mobile-menu-links {
  .toggle-wrapper {
    li {
      border-left-color: $line;
    }
  }
}

#block-system-main-menu {
	nav {
		> ul {
			li.expanded.hover {
        > a {
          background: $light-link-background;
          color: $almost-white-text;
        }
      }

      //Second level
      ul {
        li {
          a {
            border-left-color: $line;
            border-right-color: $line;
          }

          &.last {
            a {
              border-bottom-color: $line;
            }
          }
        }
      }
    }
    ul.menu {
    	li {
    		.more {
        	color: $link;
    		}
        &.active-trail {
          .more {
            color: #ffffff;
          }
        }
    		a {
          &.active-trail {
            background: $light-link-background;
            color: $almost-white-text;
          }
          &:hover {
            background: $light-link-background;
            color: $almost-white-text;
          }
          &.active {
            background: $line;
            color: $active;
          }
        }
        //Second menu level
        li {
        	a {
        		background: #ffffff;
        	}
        }
    	}
    }
  }
  @media screen and (max-width: 768px) {
  	#menu > ul li {
      border-top-color: #cccccc;
    }
    ul.menu {
    	li {
    		&.active-trail {
          .more {
            color: #ffffff;
          }
        }
    	}
    }
  }
}

.channel-icons-schedule {
  border-bottom-color: #cccccc;

  @media screen and (min-width: 48.25em) {
    border-left-color: #cccccc;
  }
  a {
    color: #bcbcbc;
  }
}


/* views-styles.scss */
.news-article {
  border-bottom-color: $line;

  a {
    color: #000000;

    &:hover {
      background: #e6e7e9;
    }

    h2 {
      color: #6d6e71;
    }
  }
}
