/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 55, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 96%;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 70, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 1em;
  padding-right: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 80, ../../sass/layouts/responsive-sidebars.scss */
.no-sidebars #content {
  padding-left: 0;
  padding-right: 0;
}

/* line 85, ../../sass/layouts/responsive-sidebars.scss */
.sidebar-first #content, .sidebar-second .region-sidebar-second {
  padding-right: 0;
}

/* line 89, ../../sass/layouts/responsive-sidebars.scss */
.sidebar-second #content {
  padding-left: 0;
}

/*
 * Containers for grid items and flow items.
 */
/* line 97, ../../sass/layouts/responsive-sidebars.scss */
#header {
  padding: 0;
}

/* line 105, ../../sass/layouts/responsive-sidebars.scss */
#main,
#footer {
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}
@media screen and (min-width: 37.5em) {
  /* line 105, ../../sass/layouts/responsive-sidebars.scss */
  #main,
  #footer {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/*
 * Navigation bar
 */
@media all and (min-width: 48.25em) {
  /* line 118, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 1em;
    /* Move all the children of #main down to make room. */
    position: relative;
    overflow: hidden;
    padding-bottom: 1em;
    clear: both;
  }

  /* line 129, ../../sass/layouts/responsive-sidebars.scss */
  #block-system-main-menu {
    /* "Main menu" block */
  }

  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  #block-search-form {
    float: right;
    margin: 0;
  }

  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  .region-navigation {
    position: relative;
    z-index: 500;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 16.66667%;
    margin-left: 8.33333%;
    margin-right: -25%;
  }
  /* line 157, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 167, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: -16.66667%;
  }
  /* line 172, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 8.33333%;
    margin-left: 16.66667%;
    margin-right: -25%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 182, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 16.66667%;
    margin-left: 8.33333%;
    margin-right: -25%;
  }
  /* line 186, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
  }
  /* line 190, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 195, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 1em;
    padding-right: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 198, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
    clear: left;
  }
  /* line 202, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 8.33333%;
    margin-left: 8.33333%;
    margin-right: -16.66667%;
  }
  /* line 205, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 8.33333%;
    margin-left: 16.66667%;
    margin-right: -25%;
  }
}
/*
 * 960px and wider
 */
@media all and (min-width: 60em) {
  /*
   * Use 12 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 227, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 9 columns, starting in 4th column from left. */
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 231, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 241, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 9 columns, starting in 1st column from left. */
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }
  /* line 245, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 3 columns, starting in 10th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 255, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 6 columns, starting in 4th column from left. */
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
  /* line 259, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 3 columns, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  /* line 263, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 3 columns, starting in 10th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }
}
