/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a 980px wide, 12 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12;
$zen-gutter-width:  2em;
$zen-grid-container:  1em;
@mixin zen-grid-container () {
  padding-left: 1em;
  padding-right: 1em;

  @include respond-to(37.5em) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

// If you need IE6/7 support for box-sizing: border-box (default), see _init.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 96%;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer, .footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}

/* Sidebar padding */
.no-sidebars #content {
  padding-left: 0;
  padding-right: 0;
}
.sidebar-first #content, .sidebar-second .region-sidebar-second {
  padding-right: 0;
}
.sidebar-second #content {
  padding-left: 0;
}

/* Containers for grid items and flow items. */
 #header {
   padding: 0;
 }

/* Containers for grid items and flow items. */
#main,
#footer, .footer {
  @include zen-grid-container();
}

#main {
  padding-top: $nav-height;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
  clear: both;
}

/* Navigation bar */
@media all and (min-width: 48.25em) {

  .region-navigation {
    position: relative;
    display: table;
    z-index: 500; /* Making sure the navigation displays on top of slideshow etc */
  }
}

} // End of @if $zen-reverse-all-floats == true

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  $zen-column-count: 3;

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }
}


/*
 * 960px and wider, 12 grid columns.
 */
@media all and (min-width: 60em) {

  $zen-column-count: 12;

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 9 columns, starting in 4th column from left. */
    #content {
      @include zen-grid-item(9, 4);
    }

    /* Span 2 columns, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(3, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 9 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(9, 1);
    }

    /* Span 3 columns, starting in 10th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(3, 10);
    }
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 6 columns, starting in 4th column from left. */
    #content {
      @include zen-grid-item(6, 4);
    }

    /* Span 3 columns, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(3, 1);
    }

    /* Span 3 columns, starting in 10th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(3, 10);
    }
  }
}
