/**
 * @file
 * Block Styling
 */
/* line 9, ../../sass/components/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../../sass/components/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../../sass/components/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../../sass/components/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../../sass/components/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../../sass/components/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 28, ../../sass/components/blocks.scss */
#header .block {
  /* No bottom margin for blocks in header */
  margin-bottom: 0;
}

@media screen and (min-width: 48.25em) {
  /* line 32, ../../sass/components/blocks.scss */
  .region-navigation, .region-branding {
    width: 100%;
    display: table;
  }
  /* line 37, ../../sass/components/blocks.scss */
  .region-navigation .block, .region-branding .block {
    overflow: visible;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /* line 45, ../../sass/components/blocks.scss */
  .region-navigation .block:first-child, .region-branding .block:first-child {
    text-align: left;
    padding-left: 2em;
  }
  /* line 49, ../../sass/components/blocks.scss */
  .region-navigation .block:last-child, .region-branding .block:last-child {
    text-align: right;
    padding-right: 2em;
  }
}

/* line 58, ../../sass/components/blocks.scss */
.region-front .block {
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-bottom: 4px dotted #AC2E32;
}
/* line 64, ../../sass/components/blocks.scss */
.region-front .block ul.pager {
  padding: 0;
  margin: 0;
}

/* line 71, ../../sass/components/blocks.scss */
#block-cm-starterkit-easy-cm-theme-logo, #block-cm-starterkit-moderate-cm-theme-logo {
  width: auto;
  max-width: 50%;
  z-index: 100;
}
/* line 75, ../../sass/components/blocks.scss */
#block-cm-starterkit-easy-cm-theme-logo img, #block-cm-starterkit-moderate-cm-theme-logo img {
  width: 100%;
  max-width: 20em;
  max-height: 4em;
}
@media screen and (max-width: 48.25em) {
  /* line 71, ../../sass/components/blocks.scss */
  #block-cm-starterkit-easy-cm-theme-logo, #block-cm-starterkit-moderate-cm-theme-logo {
    float: left;
    padding: 0.5em 2em;
    max-width: 50%;
  }
}

/* line 88, ../../sass/components/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 91, ../../sass/components/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 94, ../../sass/components/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 97, ../../sass/components/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 100, ../../sass/components/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 103, ../../sass/components/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 106, ../../sass/components/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 109, ../../sass/components/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 112, ../../sass/components/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 115, ../../sass/components/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 118, ../../sass/components/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 121, ../../sass/components/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 124, ../../sass/components/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 127, ../../sass/components/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 130, ../../sass/components/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 133, ../../sass/components/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 136, ../../sass/components/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 139, ../../sass/components/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
  margin-bottom: 0;
}

/* line 143, ../../sass/components/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 146, ../../sass/components/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 149, ../../sass/components/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 152, ../../sass/components/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 155, ../../sass/components/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 158, ../../sass/components/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 161, ../../sass/components/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 164, ../../sass/components/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 167, ../../sass/components/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
