/**
 * @file
 * Comment Styling
 */
/* line 9, ../../sass/components/comments.scss */
.comments {
  /* Wrapper for the list of comments and its title */
  margin: 1.5em 0;
}
/* line 12, ../../sass/components/comments.scss */
.comments h2.title {
  /* Heading for the list of comments */
}
/* line 15, ../../sass/components/comments.scss */
.comments h2.comment-form {
  /* Heading for the comment form */
  font-size: 1.2em;
}

/* line 20, ../../sass/components/comments.scss */
.comment {
  /* Wrapper for a single comment */
}
/* line 22, ../../sass/components/comments.scss */
.comment.comment-preview {
  /* Preview of the comment before submitting new or updated comment */
  background-color: #ffffea;
  /* Drupal core will use a #ffffea background. See #1110842 */
}
/* line 26, ../../sass/components/comments.scss */
.comment.new {
  /* A new comment since the user last viewed the page. */
}
/* line 29, ../../sass/components/comments.scss */
.comment.first {
  /* The first comment in the list of comments */
}
/* line 32, ../../sass/components/comments.scss */
.comment.last {
  /* The last comment in the list of comments */
}
/* line 35, ../../sass/components/comments.scss */
.comment.odd {
  /* An odd-numbered comment in the list of comments */
}
/* line 38, ../../sass/components/comments.scss */
.comment.even {
  /* An even-numbered comment in the list of comments */
}
/* line 41, ../../sass/components/comments.scss */
.comment.comment-by-anonymous {
  /* A comment created by an anonymous user */
}
/* line 44, ../../sass/components/comments.scss */
.comment.comment-by-node-author {
  /* A comment created by the node's author */
}
/* line 47, ../../sass/components/comments.scss */
.comment.comment-by-viewer {
  /* A comment created by the current user */
}
/* line 50, ../../sass/components/comments.scss */
.comment h3.comment-title {
  /* Comment title */
}
/* line 53, ../../sass/components/comments.scss */
.comment .new {
  /* "New" marker for comments that are new for the current user */
  color: #c00;
}
/* line 57, ../../sass/components/comments.scss */
.comment .comment-picture {
  float: left;
  margin-right: 1em;
}
/* line 61, ../../sass/components/comments.scss */
.comment .user-picture {
  /* The picture of the comment author */
}
/* line 64, ../../sass/components/comments.scss */
.comment .submitted {
  /* The "posted by" information */
}
/* line 68, ../../sass/components/comments.scss */
.comment .comment-authormetadata h3 {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 73, ../../sass/components/comments.scss */
.comment .comment-authormetadata .datetime {
  float: left;
  margin-left: 1em;
}
/* line 78, ../../sass/components/comments.scss */
.comment .permalink {
  /* Comment's permalink wrapper */
  text-transform: uppercase;
  font-size: 75%;
}
/* line 83, ../../sass/components/comments.scss */
.comment .user-signature {
  /* The user's signature */
}
/* line 86, ../../sass/components/comments.scss */
.comment ul.links {
  /* Comment links. See also the ul.links declaration in the pages.css. */
}

/* line 90, ../../sass/components/comments.scss */
.indented {
  /* Nested comments are indented */
  margin-left: 1.875em;
  /* Drupal core uses a 25px left margin */
}

/* line 94, ../../sass/components/comments.scss */
.comment-unpublished {
  /* Unpublished comments */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 97, ../../sass/components/comments.scss */
.comment-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
