/**
 * @file
 * Form Styling
 */
/* line 9, ../../sass/components/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1em 0;
}
/* line 12, ../../sass/components/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 18, ../../sass/components/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
  color: #333333;
}
/* line 24, ../../sass/components/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 29, ../../sass/components/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #ac2e32;
}
/* line 33, ../../sass/components/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.75em;
  line-height: 1.5em;
  color: #828282;
}
/* line 39, ../../sass/components/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 45, ../../sass/components/forms.scss */
.form-submit {
  /* The submit button */
}

/* line 49, ../../sass/components/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 55, ../../sass/components/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 58, ../../sass/components/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -moz-appearance: button;
  -webkit-appearance: button;
}

/*
 * Password confirmation
 */
/* line 66, ../../sass/components/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 75, ../../sass/components/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
  position: relative;
  margin: 1em;
  overflow: hidden;
  z-index: 100;
  clear: both;
}
@media screen and (min-width: 48.25em) {
  /* line 75, ../../sass/components/forms.scss */
  #block-search-form {
    margin: 0;
    max-width: 12em;
    min-width: 8em;
    clear: none;
  }
}
/* line 89, ../../sass/components/forms.scss */
#block-search-form .search-form {
  position: relative;
}
/* line 93, ../../sass/components/forms.scss */
#block-search-form input[type="text"] {
  -moz-box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  -webkit-box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  -o-box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  background: #f2f2f2;
  border: medium none;
  padding: 0em 0.813em;
  font-size: 0.875em;
  height: 2em;
  margin: 0 1%;
  z-index: -1;
  color: #666;
  width: 98%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 112, ../../sass/components/forms.scss */
#block-search-form .form-submit {
  /* Hide the submit button */
  border: medium none;
  padding: 0.5em;
  margin: 0 1%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  -moz-box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  -webkit-box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  -o-box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  box-shadow: 1px 1px 1px 0 #8C8C8C inset;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 2em;
  font-size: 0.875em;
  background: #f2f2f2;
}

/*
 * Drupal's default login form block
 */
/* line 140, ../../sass/components/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 150, ../../sass/components/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 154, ../../sass/components/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 160, ../../sass/components/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 165, ../../sass/components/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 177, ../../sass/components/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 183, ../../sass/components/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 187, ../../sass/components/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 191, ../../sass/components/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 210, ../../sass/components/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/*
 * Add show form.
 */
/* line 222, ../../sass/components/forms.scss */
.node-cm_show-form .horizontal-tabs ul.horizontal-tabs-list {
  font-size: 0.75em;
  background-color: #eeeeee;
}
/* line 226, ../../sass/components/forms.scss */
.node-cm_show-form .horizontal-tabs ul.horizontal-tabs-list li {
  border-right: none;
  background: #eeeeee;
}
/* line 230, ../../sass/components/forms.scss */
.node-cm_show-form .horizontal-tabs ul.horizontal-tabs-list li:focus, .node-cm_show-form .horizontal-tabs ul.horizontal-tabs-list li:hover, .node-cm_show-form .horizontal-tabs ul.horizontal-tabs-list li.selected {
  background: #ffffff;
}
/* line 233, ../../sass/components/forms.scss */
.node-cm_show-form .horizontal-tabs ul.horizontal-tabs-list li a {
  padding: 0.5em 0.8em 0.3em 0.8em;
}
/* line 240, ../../sass/components/forms.scss */
.node-cm_show-form input, .node-cm_show-form select {
  margin: 0.25em 0;
}
/* line 244, ../../sass/components/forms.scss */
.node-cm_show-form .form-submit {
  background: #312f30;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin-right: 1em;
  border-radius: 0.5em;
}
/* line 253, ../../sass/components/forms.scss */
.node-cm_show-form .form-submit:hover {
  background: #666666;
}
/* line 257, ../../sass/components/forms.scss */
.node-cm_show-form .form-textarea-wrapper textarea {
  margin: 0.25em 0 0;
}
/* line 261, ../../sass/components/forms.scss */
.node-cm_show-form .form-radios {
  font-size: 0.875em;
}
/* line 265, ../../sass/components/forms.scss */
.node-cm_show-form fieldset {
  margin: 0 0 1em 0;
  border-width: 1px;
  border-radius: 0.5em;
}

/*
 * Add show form.
 */
/* line 277, ../../sass/components/forms.scss */
.form-field-name-field-member-temp, .form-field-name-field-duration-temp {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
