/**
 * @file
 * RTL companion for the forms.css file.
 */
/*
 * Drupal's default login form block
 */
/* line 13, ../../sass/components/forms-rtl.scss */
#user-login-form {
  text-align: right;
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 23, ../../sass/components/forms-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-left: 0;
  margin-right: -20px;
  /* Un-do some of the padding on the ul list. */
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */
/* line 38, ../../sass/components/forms-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}
