/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../../sass/components/pages.scss */
body, html {
  height: 100%;
}

/* line 21, ../../sass/components/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 26, ../../sass/components/pages.scss */
#page {
  box-shadow: 0 0 0.25em 0.25em #888;
  -moz-box-shadow: 0 0 0.25em 0.25em #888;
  -webkit-box-shadow: 0 0 0.25em 0.25em #888;
  margin-top: 0.3em;
  background-color: #fff;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 39, ../../sass/components/pages.scss */
#skip-link {
  margin: 0;
}
/* line 42, ../../sass/components/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 57, ../../sass/components/pages.scss */
#header {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

/* @TODO: Remove ChannelAustin specific branding code */
/* line 68, ../../sass/components/pages.scss */
#branding-ca {
  z-index: 20;
  position: relative;
  clear: both;
  border-top-style: solid;
  border-top-width: 4px;
}
/* line 75, ../../sass/components/pages.scss */
#branding-ca .region-branding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 85, ../../sass/components/pages.scss */
#branding-ca .region-branding .logo-block {
  position: relative;
  float: left;
  margin-left: 2em;
}
@media screen and (min-width: 48.25em) {
  /* line 85, ../../sass/components/pages.scss */
  #branding-ca .region-branding .logo-block {
    margin-top: 1em;
  }
}
@media screen and (min-width: 60em) {
  /* line 85, ../../sass/components/pages.scss */
  #branding-ca .region-branding .logo-block {
    margin-top: 2em;
  }
}
/* line 96, ../../sass/components/pages.scss */
#branding-ca .region-branding #block-search-form {
  position: relative;
  float: right;
  margin-right: 2em;
  margin-top: 1em;
  z-index: 10;
}
@media screen and (min-width: 48.25em) {
  /* line 96, ../../sass/components/pages.scss */
  #branding-ca .region-branding #block-search-form {
    margin-top: 2em;
  }
}
@media screen and (min-width: 60em) {
  /* line 96, ../../sass/components/pages.scss */
  #branding-ca .region-branding #block-search-form {
    margin-top: 3em;
  }
}

/* line 114, ../../sass/components/pages.scss */
#logo {
  /* Wrapping link for logo */
}
/* line 117, ../../sass/components/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 122, ../../sass/components/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 126, ../../sass/components/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 131, ../../sass/components/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 137, ../../sass/components/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 143, ../../sass/components/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 148, ../../sass/components/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 4px;
}

/* line 157, ../../sass/components/pages.scss */
.region-subheader {
  /* Wrapper for any blocks placed in the sub-header region */
  clear: both;
  /* Clear the logo */
  position: relative;
  top: -6em;
  z-index: 0;
  background-color: #333132;
  width: 100%;
  overflow: hidden;
  padding: 0.75em 2em;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 190, ../../sass/components/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
}
/* line 196, ../../sass/components/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 200, ../../sass/components/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 206, ../../sass/components/pages.scss */
.breadcrumb li span {
  font-size: 0.75em;
  padding: 0 0.75em;
  margin: 0;
  vertical-align: top;
}

/* line 215, ../../sass/components/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 224, ../../sass/components/pages.scss */
h1.title {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

/* line 230, ../../sass/components/pages.scss */
table {
  border: 1px solid #ddd;
  line-height: 1.25em;
  font-size: 0.875em;
}

/* line 236, ../../sass/components/pages.scss */
th {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ddd;
  vertical-align: bottom;
}

/* line 243, ../../sass/components/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  background-color: #ffffff;
  /* Drupal core uses a #eee background */
}

/* line 247, ../../sass/components/pages.scss */
tr.odd {
  background-color: #f9f9f9;
  /* Drupal core uses a #eee background */
}

/* line 251, ../../sass/components/pages.scss */
td {
  border-left: 1px solid #ddd;
  padding: 0.5em;
}

/* line 256, ../../sass/components/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 259, ../../sass/components/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 265, ../../sass/components/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 268, ../../sass/components/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 273, ../../sass/components/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 277, ../../sass/components/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 281, ../../sass/components/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 285, ../../sass/components/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 288, ../../sass/components/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 291, ../../sass/components/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 294, ../../sass/components/pages.scss */
.region-front {
  /* Wrapper for the actual page content */
}
/* line 297, ../../sass/components/pages.scss */
.region-front .news-articles-list {
  padding: 0;
  list-style: none;
}
/* line 301, ../../sass/components/pages.scss */
.region-front .news-articles-list li {
  float: left;
  width: 26.3333%;
  margin-right: 7%;
}

/* line 309, ../../sass/components/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 312, ../../sass/components/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 316, ../../sass/components/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 322, ../../sass/components/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 326, ../../sass/components/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 329, ../../sass/components/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 334, ../../sass/components/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 337, ../../sass/components/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 348, ../../sass/components/pages.scss */
.region-sidebar-first {
  border-right-width: 2px;
  border-right-style: dotted;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* line 360, ../../sass/components/pages.scss */
.region-sidebar-second {
  border-left-width: 2px;
  border-left-style: dotted;
}

/*
 * Footer
 */
/* line 369, ../../sass/components/pages.scss */
.footer, #footer {
  border-top-width: 4px;
  border-top-style: solid;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  overflow: hidden;
  font-size: 85%;
  line-height: 1.5em;
}
/* line 388, ../../sass/components/pages.scss */
.footer .footer-column-1, #footer .footer-column-1 {
  float: left;
  width: 49%;
  padding-right: 2%;
}
@media screen and (min-width: 48.25em) {
  /* line 388, ../../sass/components/pages.scss */
  .footer .footer-column-1, #footer .footer-column-1 {
    width: 25%;
  }
}
/* line 398, ../../sass/components/pages.scss */
.footer .footer-column-2, #footer .footer-column-2 {
  float: left;
  width: 49%;
  padding-right: 2%;
}
@media screen and (min-width: 48.25em) {
  /* line 398, ../../sass/components/pages.scss */
  .footer .footer-column-2, #footer .footer-column-2 {
    width: 25%;
  }
}
/* line 407, ../../sass/components/pages.scss */
.footer .footer-column-3, #footer .footer-column-3 {
  float: left;
  width: 49%;
  padding-right: 2%;
  clear: both;
}
@media screen and (min-width: 48.25em) {
  /* line 407, ../../sass/components/pages.scss */
  .footer .footer-column-3, #footer .footer-column-3 {
    width: 20%;
    clear: none;
  }
}
/* line 418, ../../sass/components/pages.scss */
.footer .footer-column-4, #footer .footer-column-4 {
  float: left;
  width: 49%;
}
@media screen and (min-width: 48.25em) {
  /* line 418, ../../sass/components/pages.scss */
  .footer .footer-column-4, #footer .footer-column-4 {
    width: 30%;
  }
}
/* line 426, ../../sass/components/pages.scss */
.footer .footer-map, #footer .footer-map {
  margin-top: 3em;
}

/*
 * Page bottom
 */
/* line 436, ../../sass/components/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  font-size: 75%;
}

/*
 * Make block elements with the inline-block class inline-blocks
 */
/* line 445, ../../sass/components/pages.scss */
.inline-block {
  display: inline-block;
}
